{% extends 'HeaderandFooter.html' %}
{% load static%}
{% block content %}
<style>
body{
    background:#778899;
}


a:hover {
    color: #005e7c;
    text-decoration: none;
    transform: scale(1.1);
}
a{
    text-decoration:none;

}
#cont {

    max-width: 1800px;
    margin: 100px;
    padding:100px 0;
    justify-content:center;

}
.btn btn-primary{
color:white;
}

</style>

 <div class="tt"> <main><div class="cont" id="cont">
         <h1 class="teacher" align="center">contacts</h1>


    </div></main></div>
{% endblock %}