    <div class="column">
      <div class="card">
        <img class="img" src="{% static 'main/img/sul.jpg' %}" alt="John" style="width:100%">
        <h1>Rysbekov Sultanbek</h1>
        <p class="title">Backend developer</p>
        <p>rsbkvsltnbk@gmail.com</p>
        <a href="https://instagram.com/erlanjaparov04?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
        <a href="https://wa.me/996708246116"><i class="fa fa-whatsapp"></i></a>
        <a href="https://t.me/Sltnbk14"><i class="fa fa-telegram"></i></a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img class="img" src="{% static 'main/img/msg-862999310-24947.jpg' %}" alt="John" style="width:100%">
        <h1>Zholochiev <br>Islam</h1>
        <p class="title">Fronted developer</p>
        <p>zholochiev.islam@gmail.com</p>
        <a href="https://instagram.com/06mt10?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
        <a href="https://wa.me/996552861919"><i class="fa fa-whatsapp"></i></a>
        <a href="https://t.me/zholochievv"><i class="fa fa-telegram"></i></a>
      </div>
    </div>
     <div class="card">
        <img class="img" src="{% static 'main/img/arl.jpg' %}" alt="John" style="width:100%">
        <h1>Polotov <br> Arlen</h1>
        <p class="title">Fronted developer</p>
        <p>polotov.arlen@gmail.com</p>
        <a href="https://instagram.com/raidnk?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
        <a href="https://wa.me/996703372542"><i class="fa fa-whatsapp"></i></a>
        <a href="https://t.me/huriskop"><i class="fa fa-telegram"></i></a>

      </div>




      <p class="con">
          <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>
          <a href="https://goo.gl/maps/KCs3JNyfdUZP2em6A" id="mail1"> INAI.KG, Bishkek, Kyrgyzstan </a>
        </p>
        <p class="con">
          <i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> <a id="mail2">Phone: +996500387222</a>

        </p>
        <p class="con">
          <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i>
           Email: <a href="mailto:arlen.plotov@mail.ru" id="mail">arlen.plotov@mail.ru</a>
        </p>


    <p>Welcome to the website of the Kyrgyz-German Institute of Applied Informatics, INAI.KG!

          The Kyrgyz-German Institute of Applied Informatics (KGIPI) is the only university in the educational sector of Kyrgyzstan specializing in information technology.

          The mission of the institute is to expand the boundaries of IT education in the Kyrgyz Republic through the introduction of innovative training programs of German universities in this area.

          In 2004, on the basis of an agreement between the Kyrgyz State University of Construction, Transport and Architecture named after N. Isanov (KGUSTA) and the West-Saxon University of Applied Sciences, Zwickau (WHZ, Germany), the Kyrgyz-German Faculty of Informatics (KSFI) was opened .

          June 2018 KSFI was transformed into an independent educational institution Kyrgyz-German Institute of Applied Informatics KGIPI or INAI.

          The institute's curricula have been developed jointly with German partners, taking into account the trends of rapidly developing IT technologies.

          In accordance with the principles of the Bologna process, two educational levels have been introduced at the institute: bachelor's and master's degrees. (Detailed information about the conditions of admission can be found here).

          In the process of studying in the direction of "Informatics" at the undergraduate level, students can choose to specialize in one of the profiles offered by the institute (detailed information here)

          Software technologies
          Web informatics
          Medical Informatics
          Under the master's program (detailed information here):

          Information Technology Entrepreneurship
          System programming engineering projects
          The practice-oriented training program created at the institute enables university students to easily adapt in future practical activities. Teaching is conducted in three languages - Russian, German, English.

          The Institute always supports successful students. Through the DAAD (German Academic Exchange Service) project between KGIPI and WHZ, an opportunity is provided to receive scholarships to study in Bishkek and at the West Saxon University of Zwickau.

          The faculty of the institute is represented by highly professional specialists from our country and Germany, which ensures a high level of training of our graduates.

          Student and teacher exchange programs are supported by the annual DAAD grant, which provides for the intensive development of relations with partners.

          The introduction of innovative technologies and the development of international relations in the field of education and science ensures a high level of efficiency of the educational process at the institute.

          In the future, KGIPI plans to expand the range of its educational services, open new directions and specialties necessary for the development of our republic.</p>