
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <style>
        body {
  margin: 0;
  font-size: 28px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f2f2f2;
}

.header h2 {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #78bded;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
    </style>

<body>

    <div class="header">
        <h2 dir="ltr"> Privacy Policy</h2>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>

    <div class="content">
        <p> Your privacy is important to us. It is our policy to respect your privacy regarding any information we may
            collect from you across our website.
            At INAI Staff database, accessible from https://www.inai.staff.kg, one of our main priorities is the privacy
            of our visitors. This Privacy Policy document contains types of information that is collected and recorded
            by INAI Staff database and how we use it.If you have additional questions or require more information
            about our Privacy Policy, do not hesitate to contact us.This Privacy Policy applies only to our online
            activities and is valid for visitors to our website with regards to the
            information that they shared and/or collect in INAI Staff database. This policy is not applicable to any
            information collected offline or via channels other than this website.</p>

        <h3> Consent</h3>
        <p> By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

        <h3> Information we collect</h3>
        <p> The personal information that you are asked to provide, and the reasons why you are asked to provide it,
            will be made clear to you at the point we ask you to provide your personal information.<br>If you contact us
            directly,
            we may receive additional information about you such as your name, email address, phone number, the contents
            of the message and/or attachments you may send us, and any other information you may choose to
            provide.<br>When you register
            for an Account, we may ask for your contact information, including items such as name, company name,
            address, email address,
            and telephone number.</p>

        <h3> How we use your information</h3>
        <p> We use the information we collect in various ways, including to:<br>
            <br>Provide, operate, and maintain our website<br>Improve, personalize, and expand our website<br>Understand
            and analyze how you
            use our website<br>Develop new products, services, features, and functionality<br>Communicate with you,
            either directly or
            through one of our partners, including for customer service, to provide you with updates and other
            information relating to the website,
            and for marketing and promotional purposes<br>Send you emails<br>Find and prevent fraud
        </p>

        <h3> Log Files</h3>
        <p> INAI Staff database follows a standard procedure of using log files. These files log visitors when they
            visit websites. All hosting
            companies do this and a part of hosting services' analytics. The information collected by log files include
            internet protocol
            (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages,
            and possibly the number
            of clicks. These are not linked to any information that is personally identifiable. The purpose of the
            information is for analyzing
            trends, administering the site, tracking users' movement on the website, and gathering demographic
            information.</p>

        <h3> Third Party Privacy Policies</h3>
        <p> INAI Staff database's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising
            you to consult the respective Privacy 4
            Policies of these third-party ad servers for more detailed information. It may include their practices and
            instructions about how to
            opt-out of certain options.<br>You can choose to disable cookies through your individual browser options. To
            know more detailed
            information about cookie management with specific web browsers, it can be found at the browsers' respective
            websites.</p>

        <h3> Children's Information</h3>
        <p> Another part of our priority is adding protection for children while using the internet. We encourage
            parents and guardians to
            observe, participate in, and/or monitor and guide their online activity.INAI Staff database does not
            knowingly collect any
            Personal Identifiable Information from children under the age of 13. If you think that your child provided
            this kind of information
            on our website, we strongly encourage you to contact us immediately and we will do our best efforts to
            promptly remove such information from
            our records.</p>



        <script>
            window.onscroll = function() {myFunction()};

    function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
    }
        </script>

</body>

</html>