{% extends 'HeaderandFooter.html' %}
{% load static%}
{% block content %}
    <style>

        body{
        background:#778899;
        color:#FFFFFF;
        }
        .submit{
        border: 2px solid black;
        border-radius: 20px;
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px
        }
        form input, form textarea, form select{
        border: 2px solid black;
        border-radius: 20px;
        }

        form{
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        }
        .teacher{
        margin-top:100px;
        padding:20px;
        font-size:30px;
        }
        aside img{
        margin-top: 30px;
        margin-left: 70px;
        width: 10%;
        height:10%;
        }

    </style>

   <div class="main"> <main><div class="form" id="form">
         <h1 class="teacher" align="center">Register an admin</h1>
        <form action='/registration/' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="submit" type="submit">Register</button>
        </form>

    </div></main></div>
{% endblock %}




