<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
        body{
        background:#778899;
        }
        .delete {
        color:red;
        margin-top: 200px;

        }
        input{
        color:#bf0100;
        border-radius: 15px;
        border: white;

        }</style>
<body>
<form action="" method="post" enctype="multipart/form-data">

  <div class="delete">
      <p ><h1 align="center">Are you sure that you want to delete the vacancy?</h1></p>
  {% csrf_token %}
  <h1 align="center"> <input type="submit" value="delete"></h1>


  </div>
</form>
</body>
</html>